@import '../../variables.scss';

.user {

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  &__image {
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 180px;
  }

  &__name {
    font-weight: 600;
    font-size: 20px;
    color: $text-100;
  }

  &__email {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $text-100;
  }
}

.email {
  &__title {
    display: flex;
    align-items: center;
    font-size: 25px;
  }
}


.holder {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.button {
  height: 40px;
  border: 2px solid $text-100;
  width: 290px;
  display: flex;
  gap: 5px;
  padding: 10px;
  border-radius: 5px;
  color: $text-100;
  transition: 0.3s all ease-in-out;
  align-items: center;

  &__icon {
  }
}

.logout {

  &__icon {
    color: $text-100;
    font-size: 25px;
  }

  &:hover {
    background-color: $accent-100;
  }
}

.changeAccount {
  &:hover {
    background-color: $primary-200;
  }
}

.actionList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  &__item {
    width: 100%;
  }
}
