@import '../../variables.scss';



.table {
  width: 100%;
  color: $text-100;
  min-width: 500px;

  &__head {
  
  }

  &__data {
    padding: 5px;
    border: 1px solid $text-100;
  }

  &__row {
    display: grid;
  }

  &__body {
    display: grid;
    margin-top: 10px;
  }

  &__empty {
    display: flex;
    justify-content: center;
    background-color: $primary-200;
  }
}

.head {
  &__data {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid $text-100;
  }

    &__row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: $primary-200;
  }
}
