@import '../../variables.scss';

.container {
  padding: 20px;
  width: 250px;
  background-color: $primary-100;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__item {
  }

  &__link {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    gap: 10px;

    &:hover {
      transition: 0.3s all ease-in-out;
      background-color: $primary-200;
    }
  }
}

@media (max-width: 650px) {
  .container {
    width: unset;
  }
  .list {
    &__linkText {
      display: none;
    }

  }
}

@media (max-width: 500px) {
  .list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &__link {
      font-size: 30px;
    }
  }
}
