@import '../../variables.scss';

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: $bg-100;
  justify-content: center;
  align-items: end;
  height: 50px;

  &__info {
    padding: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    width: 100%;
    color: $text-200;
  }
}