@import '../../../variables.scss';

.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  background-color: $bg-200;

  &__item {
    width: 100%;

    &:hover {
      background-color: $primary-100;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
}

.link {
  &__name {
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.status {
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;

  &_online {
    background-color: green;
  }
  &_offline {
    background-color: rgb(72, 72, 72);
  }
}

.holder {
  height: 100%;
}

@media (max-width: 750px) {
  .list {
    width: 100%;
    
    &_opened {
      display: flex;
    }
    &_closed {
      display: none;
    }
  }
}
